
# Node / JS
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
/package-lock.json

# Expo / RN
.expo
.expo-shared
.DS_Store
dist
web-build
*.keystore

# Firebase / Admin
serviceAccount*.json

# Env
.env
.env.*
*.local

# Build artifacts
*.iml
.idea
.vscode
coverage
*.tgz

# Local Firebase logs and emulator data
*-debug.log
*-debug.*.log
.firebase/
